doctype html
html
  include ../node_modules/pug-bootstrap/_bootstrap.pug
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet")
    link(rel='stylesheet', href='stylesheets/main.css')
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  body
    block content
