extends layout

block head
    link(rel='stylesheet', href='stylesheets/main.css')

block content
    
    script.
        initialLocationsData="#{initialLocationsData}"
        user="#{user}"
    script(src="javascripts/main.js")
    div(id="user")
    a(href="/") Home
    div(id="map")
    ul(id="results")
    button(class="test-btn") test    
    
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxM6jbCgqCjT-Hhm0fhiZSIfYkcGLz0TQ&libraries=places"></script>